body {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
#page-logo a{
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}
header ul{
    display: flex;
    flex-wrap: nowrap;
}
header li{
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 251, 0);
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0,0,0.2);
    padding: 12px;
    border-radius: 10px;
}

nav a:hover{
    color: rgb(77,77,76);
    background-color: rgb(255, 251, 0);
}
footer{
    background-color: black;
    padding: 20px;
}
footer li img{
    width: 50px;
    height: 50px;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 700px;
}